@import '../../../styles/partials/variables';

.login-form {
  max-width: 350px;
  border: 1px solid $grey-border;
  margin: 10% auto !important;
  padding: 42px 24px 50px !important;
  background: $white;

  a {
    text-align: center;
  }
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
