.login-form {
  max-width: 350px;
  border: 1px solid #ebedf0;
  margin: 10% auto !important;
  padding: 42px 24px 50px !important;
  background: #ffffff;
}
.login-form a {
  text-align: center;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
