@import '../../../styles/partials/variables';

.verify-email-form {
  display: flex;
  flex-flow: wrap row;
  max-width: 50%;
  width: 100%;
  border: 1px solid $grey-border;
  margin: 7% auto !important;
  padding: 42px 24px 50px !important;
  background: $white;
  justify-content: space-between;

  input {
    text-align: center;
  }

  .btn-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;

    button {
      width: 50%;
      align-self: center;
    }
  }

  .single-input {
    width: 80px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    outline: none;
    border: 1px solid $grey-border;

    &:focus {
      border: 1px solid $blue-primary;
    }
  }
}
