.signup-form {
  max-width: 350px;
  border: 1px solid #ebedf0;
  margin: 7% auto !important;
  padding: 42px 24px 50px !important;
  background: #ffffff;
}
.signup-form a {
  text-align: center;
}

.signup-form-button {
  display: flex;
  width: 100%;
}
